// ==================================
// Typography
// ==================================
//

// Colors
$color-base:                                                            #343434 !default;
$color-green:                                                      	    #a8ca3f !default;
$color-green_main:                                                     	#62bd1f !default;
$color-orange:                                                      	#ff6b00 !default;
$color-white:                                                           #fff !default;